/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 800 */

#sidebar {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

.render_container{
  font-size: 1.2em;
}