/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 800 */

body{
  padding: 0;
  margin: 0;
}

#sidebar {
  font-family: "Open Sans", serif;
}

body{
  font-family: "Open Sans", serif;
}

.render_container{
  font-size: 1.2em;
}