/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 800 */

body{
  padding: 0;
  margin: 0;
}

#sidebar {
  font-family: "Open Sans", serif;
}

body{
  font-family: "Open Sans", serif;
}

.render_container{
  font-size: 1.2em;
}

/* Slide-in animation */
.slide-in {
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  70% {
    transform: translateX(0);
  }
  100%{
    opacity: 100%;
  }
}